
* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: 'NinjaNaruto';
	src: url('/fonts/NinjaNaruto-YOn4.ttf');
}
  
:root {
	font-size: 1rem;
	font-family: 'NinjaNaruto';

	--text-primary: rgb(193, 9, 31);
	--text-secondary: rgb(246,81,23);
	--bg-primary: rgb(249,161,41);
	--bg-secondary: rgb(253,216,30);
	--transition-speed: 600ms;
}

false_body {
	position: fixed;
	height: 100vh;
	width: 100vw;
	/* top: -50%;
	left: -50%; */
	
	z-index: -10;

	/* background-color: var(--b-bg-primary); */

	background-image: url('../public/img/background/pochita.png');	

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	overflow: hidden;
}

body {
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 0.50rem;
	height: 0.15rem;
}

body::-webkit-scrollbar-track {
	background: var(--b-bg-primary);
}

body::-webkit-scrollbar-thumb {
	background: var(--bg-primary);
}
