.map_container {
    /* height: relative; */
}

.map_container_iframe::-webkit-scrollbar {
    display: none;
}

.map_container_iframe {
    height: 100%;
    width: 100vw;

	filter: grayscale(0) opacity(0.9);
	transition: var(--transition-speed) ease;
}

.map_container_iframe:hover {
	transition: var(--transition-speed) ease;

	filter: grayscale(0) opacity(0.5);
	filter: grayscale(0) opacity(1);
}

.directions_container {
    margin: 3rem;

    display: flex;
}

.list_container {
    font-family: 'Cedarville Cursive';
    font-size:x-large;
}

@media only screen and (max-width: 600px) {
    .list_container {
        font-size:large;
    }    
}